.headline_article{
    font-size:60px;
    background: linear-gradient(30deg, rgb(231, 130, 221),rgb(252, 133, 133),rgb(119, 255, 16));
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent;  
 text-transform: capitalize;
 margin:30px 80px;


}
.headline_view{
    font-size:30px;
color:white;
    margin:30px 80px;

}
.mail_get_view{
    font-size:30px;
color:white;
height:60px;
width:30%;
border-radius: 10px;
background-color: black;
    /* margin:30px 80px; */

}
@media only screen and (max-width: 600px) 
{
    .mail_get_view{
        font-size:30px;
    color:white;
    margin-left: -15%;
    height:60px;
    width:84%;
    border-radius: 10px;
    background-color: black;    
    }
}
.button_get{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(255, 7, 7);
color:rgb(255, 255, 255);
height:60px;
border-radius: 10px;

/* margin-left:50px; */
    /* margin-top: -180px; */
    /* display: block; */

}
.chatperson_view{

    margin:-16px 80px;

}
.person_ai_view{
height:700px;
width:700px;
    margin-top: -40%;
    margin-left:53%;

}
@media only screen and (max-width: 600px) {
    .person_ai_view{
        display:none;
        }
        
}
